apiVersion: v1
kind: Service
metadata:
  name: {{ include "platform-auth.fullname" . }}-postgres
  labels:
    {{- include "platform-auth.postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "platform-auth.postgres.selectorLabels" . | nindent 4 }}
