apiVersion: v1
kind: Service
metadata:
  name: {{ include "platform-auth.fullname" . }}-keycloak
  labels:
    {{- include "platform-auth.keycloak.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "platform-auth.keycloak.selectorLabels" . | nindent 4 }}
